<div id="highlight-settings" class="highlight-settings">
    <div class="highlight-settings__header">
        <div class="highlight-settings__about">
            <div class="highlight-settings__logo"></div>
            <div class="highlight-settings__title">Highlighter</div>
        </div>

        <div class="highlight-settings__right-group">
            <svg class="highlight-settings__close-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <g>
                    <path d="M13.41,12l4.3-4.29a1,1,0,1,0-1.42-1.42L12,10.59,7.71,6.29A1,1,0,0,0,6.29,7.71L10.59,12l-4.3,4.29a1,1,0,0,0,0,1.42,1,1,0,0,0,1.42,0L12,13.41l4.29,4.3a1,1,0,0,0,1.42,0,1,1,0,0,0,0-1.42Z"/>
                </g>
            </svg>
        </div>
    </div>
    <form class="highlight-settings__form">
        <div class="highlight-settings__line">
            <label class="highlight-settings__label" for="colorHighlightSettings">Color</label>
            <input class="highlight-settings__field" id="colorHighlightSettings" type="color" name="color"
                   autocomplete="off">
        </div>
        <div class="highlight-settings__line">
            <label class="highlight-settings__label" for="sizeHighlightSettings">Size</label>
            <div class="highlight-settings__counter">
                <button class="highlight-settings__counterPlus" type="button"></button>
                <input class="highlight-settings__field highlight-settings__field--counter" id="sizeHighlightSettings" type="text" name="size" min="1"
                       max="5" value="1" autocomplete="off" step="1">
                <button class="highlight-settings__counterMinus" type="button"></button>
            </div>
        </div>
        <div class="highlight-settings__line">
            <label class="highlight-settings__label" for="opacityHighlightSettings">Opacity</label>
            <div class="highlight-settings__counter">
                <button class="highlight-settings__counterPlus" type="button"></button>
                <input class="highlight-settings__field highlight-settings__field--counter" id="opacityHighlightSettings" type="text" name="opacity" min="0.01"
                   max="1" value="1.0" step="0.1" autocomplete="off">
                <button class="highlight-settings__counterMinus" type="button"></button>
            </div>
        </div>
        <div class="highlight-settings__line">
            <label class="highlight-settings__label" for="typeHighlightSettings">Type</label>
            <select class="highlight-settings__field highlight-settings__field--text" id="typeHighlightSettings">
                <option value="outline" class="highlight-settings__option">Outline</option>
                <option value="box-shadow" class="highlight-settings__option">Box shadow</option>
            </select>
        </div>
        <div class="highlight-settings__line">
            <label class="highlight-settings__label" for="maskHighlightSettings">Mask</label>
            <div class="highlight-settings__fields">
                <input class="highlight-settings__checkbox" id="useMaskHighlightSettings" type="checkbox"
                       name="useMask" autocomplete="off">
                <label class="highlight-settings__checkbox-label" for="useMaskHighlightSettings"></label>
                <input class="highlight-settings__field highlight-settings__field--text highlight-settings__field--mask-state"
                       id="maskHighlightSettings" type="text" name="mask" autocomplete="off">
            </div>
        </div>
    </form>
</div>
