@mixin darkMode() {
  background: #484d50;

  .highlight-settings {
    &__header {
      background: #282C2F;
      box-shadow: 0 0 2px 0 #000;
    }

    &__logo {
      background-image: url("chrome-extension://__MSG_@@extension_id__/assets/images/icons/default-48.png");
    }

    &__title {
      color: #f89b36;
    }

    &__form {
      background: #484d50;
    }

    &__line {
      background: #323639;
      color: white;
      box-shadow: 0 0 2px 0 #000;
      transition: 0.2s;

      &:hover {
        background: #3a3e41;
      }
    }

    &__label {
      color: #dcdcdc;
    }

    &__field {
      background-color: #404448;
      color: #dcdcdc;
    }
  }
}

.highlight-settings {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  background: rgb(245, 247, 250);
  border-radius: 3px;
  box-shadow: 0 0 25px rgb(156, 156, 156);
  z-index: 99999;
  box-sizing: border-box;
  user-select: none;

  @media (prefers-color-scheme: dark) {
    @include darkMode();
  }

  &_theme_dark {
    @include darkMode();
  }

  &_closed {
    display: none;
  }

  * {
    box-sizing: border-box;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px 0 #9c9c9c;
    margin-bottom: 15px;
    padding: 8px 10px 8px 15px;
    background-color: #fff;
  }

  &__logo {
    width: 22px;
    height: 22px;
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/images/icons/active-48.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    margin-left: 10px;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #75c048;
  }

  &__attach-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    width: 26px;
    height: 26px;
  }

  &__right-group {
    display: flex;
    gap: 15px;
  }

  &__attach-button {
    background-color: #9b9b9b;
    cursor: pointer;
    transition: background-color 0.2s;

    &_active,
    &:hover {
      background-color: #f89b36;
    }

    &_center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 2px solid #282C2F;
    }
  }

  &__close-btn {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    fill: #9b9b9b;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      fill: #d20000;
    }
  }

  &__close-btn::before {
    content: "";
    position: absolute;
    width: 0;
    height: 15px;
    border: 3px solid red;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: rotate(45deg) translate(-50%, -50%);
  }

  &__close-btn::after {
    content: "";
    position: absolute;
    width: 0;
    height: 15px;
    border: 3px solid red;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translate(-50%, -50%);
  }

  &__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    background: rgb(245, 247, 250);
  }

  &__line {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #9c9c9c;
    margin: 0 8px 10px;
    padding: 5px 10px;
    transition: 0.2s;

    &:hover {
      background-color: #f5f5f5;
    }
  }

  &__label {
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 1px #a0a0a0;
    color: #0f0f0f;
  }

  &__field {
    width: 80px;
    cursor: pointer;
    background: no-repeat;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 #000;
    border: none;
    outline: none;
    color: #0f0f0f;

    &[type="number"],
    &[type="text"] {
      padding-left: 5px;
    }

    &--mask-state {
      width: 150px;
    }
  }
}
